*
!.gitignore
!build.bat
!update.bat
!clean.bat
!CONTRIBUTIONS.txt
!KAF.vbs
!KomuFlug.bat
!newplane.ico
!oldKAF.vbs
!oldplane.ico
!plane.ico
!README.md
!wget.exe

!newKAF/charlone.c
!newKAF/rfr.bat
!newKAF/intro.h
!newKAF/wget.exe

!KefAirportFlug/fle.bat
!KefAirportFlug/kvl.c
!KefAirportFlug/loop.bat
!KefAirportFlug/wget.exe
